<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776807734965-oelu8mg9hhrq2ptuq01te9not4842g1d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776807734965-oelu8mg9hhrq2ptuq01te9not4842g1d</string>
	<key>API_KEY</key>
	<string>AIzaSyBEIstaZ1lR_f15XIsVaioWxznNO_m5Mws</string>
	<key>GCM_SENDER_ID</key>
	<string>776807734965</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.co.eatap</string>
	<key>PROJECT_ID</key>
	<string>eatap-270dc</string>
	<key>STORAGE_BUCKET</key>
	<string>eatap-270dc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776807734965:ios:57cc9610c55f5fe4e468fc</string>
	<key>DATABASE_URL</key>
	<string>https://eatap-270dc.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-1712680873558822~6699328342</string>
</dict>
</plist>